.authBgImg{
    background-image: url("../../assets/cobb 2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    height:100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    overflow: auto;
    bottom: 0;
}
.authChildren{
    margin: auto;
    border-radius: 16px;
    padding: 2rem!important;
}
.routeLinkDiv{
    display:flex;
    align-items:baseline;
}
@media only screen and (max-width:425px){
    .authChildren{
        padding: 1rem!important;
    }
}