#root {
  margin: 0 auto;
  text-align: center;
  height:100vh;
}
.hideOndesktop,.mobilenav{
  display:none;
}
.relative{
  position:relative;
}
.messageBody{
  height:100vh;
}
.messageFooter{
  background-color: white;
  z-index: 1;
  position:absolute;
  bottom: 0;
  left:0;
  right:0;
}
.plansectionHead{
  background: #F7F4ED;
  border: 1px solid #C0A772;
  border-radius: 8px 8px 0px 0px;
  padding:1rem;
}
.planpricesection{
  padding:1rem;
}
.Revenustatbox{
  width:15rem;
  height:11rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  background: #FFFFFF;
  border: 1px solid #E4E7EC;
  border-radius: 12px;
  gap: 24px;
}
.bg-gainsboro{
  background: #F2F4F7;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
}
.pdx-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}
.nav{
  display:flex;
}
.no-wrap{
  flex-wrap: nowrap;
}
.sahdowgrey{
  background-color: #B79A5C;
}
.blue{
  background-color: #1570EF;
}
.green{
  background-color: #039855;
}
.bg-grey{
  background:grey;
  color:white;
}
.uploadspace{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 4px;
  height: 20rem;
  background: #F9FAFB;
  border: 1px dashed #E4E7EC;
  border-radius: 8px;
  }
  .pd-5{
    padding: 3rem !important;
  }
  .upload-space-cover{
    padding: 16px 9rem;
  }
input[id="upload"]{
  display:none;
}
.bgBlue{
  background:#175CD3;
}
.baseline{
  align-items: baseline;
}

.pagination{
 gap:15px;
 flex-wrap: wrap;
 margin:1rem 0;
}
.page-item{
 
    cursor: pointer;
}
.page-link{
  border-radius: 50px;
    padding:0.2rem 0.7rem;
    font-size:12px;
    border: grey 1px solid;
    cursor: pointer;
    color:black;
}
.page-item:last-child .page-link, .page-item:first-child .page-link{
  background: #C39855;
  color:white;
  border-radius: 10px;
}
.page-item:first-child .page-link {
  border-radius: 5px;
}
.page-item:last-child .page-link {
  border-radius: 5px;
}
.sideNav{
  width:14rem;
}
.darkform-check-input{
  background-color: darkgray;
  border:1px solid aliceblue;
}
.page-item.active .page-link{
  background-color: #EFE9DC;
  border:1px solid #EFE9DC;
}
.faintbg{
  background-color: #F4F4F4;
}
.activeStatus{
  color: #027A48;
  background:  #ECFDF3;
  border-radius: 16px;  
  padding: 0px 8px;
}
.statbosxsubscover{
background: rgba(255, 255, 255, 0.3);
border: 1px solid rgba(255, 255, 255, 0.5);
backdrop-filter: blur(12px);
border-radius: 8px;
padding: 16px;
width:100%
}
.rejectedStatus{
  color: #B42318;
  background: #FEF3F2;
  border-radius: 16px;  
  padding: 0px 8px;
}
.pricecard{
  height:57rem;
}
.orangeBg{
  background-color: #F4623A;
}
.econ{
  color:#039855;
}
.faintIndigo{
  background: #EFE9DC;
}
.retire{
  color:#B42318;
}
.unattended{
  color: #175CD3;
  background: #EFF8FF;
  border-radius: 16px;  
  padding: 0px 8px;
}
.lightPrimary{
  background: #CCDCFF;
  color: #6941C6;
}
.active{
  border-color: transparent;
  color: white;
  min-width: 32px;
}
.brandImg{
  width: 59.14px;
  height: 50px;
}
.p-08{
  padding:0.8rem;
}
.textArea{
  height:6rem;
}
.dropdown-item {
  padding: 0;
}
.dropdown{
  margin-left: auto;
}
.dropItem:hover{
  background-color: gainsboro;
}

*{
  font-family: 'Nunito', sans-serif;
}
.wt-40{
  width:40%;
}
.wt-75{
  width:75%;
}
.invite-header{
  width:15rem;
  padding: 1.5rem 4rem;
}
.invite-spaceAside{
  padding-left: 4rem;
  padding-right:4rem;
}
.break{
  word-break: break-all;
}
.bg-purple{
  background:#4C3B57;
}
.MessageBoard{
  overflow: auto;
  height: 70vh;
  padding:1rem 1rem 4rem 1rem;
}
.overflowx{
  overflow-x: auto;
}
.briefMessageIcon{
  width:2.7rem;
}
.messageBadge{
  color: #9C8045;
  background: #EFE9DC;
  border-radius: 16px;
}
.wt-30{
  width:30%;
}
.icon{
  position: absolute;
    top: 0.9rem;
    left: 1rem;
    width: 1rem;
}
.searchicon{
  position: absolute;
  top: 0.8rem;
  left: 0.5rem;
}
.statbox{
  width:21rem;
  padding: 1rem;
}
.w-overflow{
  width:100%;
  overflow:auto;
}
.wt-50{
  width:50%;
}
.fonts-3{
  font-size: 1.3rem + .6vw;
}
.activeroute{
  background: rgba(183, 154, 92, 0.08);
  border-left: 3px solid #B79A5C;
}
.yellowbuttom{
  border-bottom:2px solid #B79A5C;
  color:#B79A5C;
}
.uploadBg{
  background: #495569;
  border-radius: 8px;
}
.fonts-5{
  font-size: 1.25rem + .6vw;
}
.fonts-6{
  font-size: 1em + .6vw;
}
.wt-60{
  width:60%;
}
.fs-7{
  font-size:17px;
}
.dashboard-icon{
  width:0.9rem;
}
.btnicon{
  width: 0.7rem;
}
.ln-20{
  line-height:20px;
}
.fw-600{
  font-weight: 600;
}
.upload{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.fs-8{
  font-size:13px;
}
.w-fitContent{
  width:fit-content;
}
.float-right{
  float: right;
}
.row{
  padding-right: 0;
  --bs-gutter-x: 0rem;
  padding-left: 0;
}
.dashboardSide{
  height:100vh;
  overflow-y: auto;
}
.dashboardLayout{
  width:100%;
}
.float-left{
  float: left;
}
.faint-white{
  background-color: #F9FAFB;
}
.light-greyInput{
  background-color: #E7E5EA;
}
.br-8{
  border-radius: 8px;
}
.faint{
  color: #475467;
}
.avatar{
  width:56px;
}
h6{
  line-height: 30px;
  margin-bottom: 0;
}
.relative{
  position: relative;
}
.wt-50{
  width:50%;
}
.wt-80{
  width:60%;
}
.wrap{
  flex-wrap:wrap;
}
.header{
  background-color:  #F9FAFB;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.spaceAside{
  padding: 0.7rem 5rem;
}
.footerbrand{
  width:10rem;
}
.footer{
  padding: 4rem 5rem;
  background: #2E2C34
}
.spaceTop{
  padding: 5rem;
}
.links{
  text-decoration: none;
  color:white;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.greyYellow{
  color:#C39855;
}
.interest{
  background: #F2F4F7;
  mix-blend-mode: multiply;
  border-radius: 16px;
}

.form-spacedescription{
  height:6rem;
}
.bg-greyYellow{
  background-color: #C39855;
}

@media only screen  and (max-width:996px){
  .hideOndesktop{
    display:block;
  }
  
  .overflowBtnText{
    width:8rem
  }
  .w-230{
    width: 100%;
  }
  .hideOnMobile,.sideNav{
    display:none;
  }
  .sideNav.active{
    display: block;
  }
  .sideNav{
    position: fixed;
    top:0;
    bottom: 0;
    width:75%;
    z-index:100;
    background-color: white;
  }
  .mobilenav{
    display: flex;
  }
  .no-wrap{
    flex-wrap: wrap;
  }
  .col-md-10{
    width:100%;
  }
  /* .row{
    flex-direction:column;
  } */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
@media only screen and (max-width:1024px){
  .spaceAside{
    padding: 0.7rem 3rem;
  }
  .explore-text {
    font-size: 52px;
    line-height: 70px;
    padding: 0.5rem 2rem;
}
.explore-sub-text {
  padding: 0.2rem 10rem;
}
}
@media only screen and (max-width:768px){
  .upload-space-cover {
    padding: 0;
  }
  .pdx-4 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }
  .hideOndesktop{
    display:block;
  }
  .wt-30{
    width:70%;
  }
  .fs-7 {
    font-size: 15px;
  }
  .spaceAside {
    padding: 0.7rem 2rem;
  }
  h6 {
    line-height: 20px;
}
}
@media only screen and (max-width:425px){
  .pd-5{
    padding: 1rem !important;
  }
  .Revenustatbox {
    width: 12rem;
    height: 10rem;
  }
  .searchicon {
    top: 0.4rem;
}
  .statbox {
      width: 10rem;
      padding: 1rem;
  }
  .btnfs{
    font-size:0.8rem;
  }
  .wt-30,.wt-75{
    width:100%;
  }
  .fs-7 {
    font-size: 14px;
  }
  .fs-8 {
    font-size: 13px;
  }
  .spaceAside {
    padding: 0.7rem 1rem;
  }
  .spaceTop{
    padding:2rem;
  }
  .btn,.footer-input,.explore-input{
    font-size: 0.8rem;
  }
  .wt-50{
    width:100%;
  }
  .fonts-3,.fonts-6,.fonts-5{
    font-size: 13px;
  }
  .footer{
    padding: 2rem;
  }
  .links{
    font-size: 11px;
  }
}